:root {
  --primary-color: #2c3e50;
  --secondary-color: #e74c3c;
  --footer-highlight-color: #e5a00d; /* Darker yellow for better contrast */
  --font-family: "Roboto", sans-serif;
  --font-size: 15px;
  --h1-font-size: 30px;
  --h2-font-size: 18px;

}

body {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

h1 {
  color: var(--primary-color);
  text-align: center;
}

h2 {
  color: var(--primary-color);
}

.section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}

.highlight {
  color: var(--secondary-color);
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}




footer p {
  margin: 0;
  color: var(--footer-highlight-color);
}

footer p span {
  font-weight: lighter;
}

