* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
  background-color: rgb(0, 147, 83);
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333; 
}

main {
  background-color:  white;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

header, main, footer {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 20px;
}

h1 {
  font-size: 30px;
  color: white;
}

h2 {
  font-size: 18px;
  text-align: center;
  color: black;
}

nav {
  gap: 20px;
	flex-direction: column;
  display: none; /* Initially hidden on mobile */
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  font-weight: 800;
  text-decoration: underline double;
  text-decoration-color: yellowgreen;
}

.active {
	color: yellow;
}

nav.active {
  display: flex; /* Show when active */
}

.hamburger {
  display: block;  
  cursor: pointer;
  color: white;
  font-size: 30px;
}

img {
  text-align: center;
  height: auto;
  width: 250px;
  margin: 1rem;
  padding: 2px;
  border: 2px solid rgb(224, 224, 224);
}

.image-container {
  display:grid; 
  grid-template-columns: 1fr;
  grid-gap: 25px;
  place-items: center;
}

.image-container img {
  max-width: 100%; 
}

figure {
  margin: 0;
  padding: 0;
  text-align: center;
}

figcaption,
p {
    text-align: center;
    font-size: smaller;
}

.hover:hover {box-shadow: 0 0 50px #333;}

footer {
  background-color: rgb(0, 147, 83);
  color: white;
  padding: 20px;
  text-align: center;
   
 }

footer p {
  margin: 0;
  color: rgb(253, 208, 5);
 }

footer p span {
  font-weight: lighter;
 }



 