
@media screen and (min-width: 640px) {
  .weather-container {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 20px;
    left: 10px;
    width: 25%;
    height: auto;
  }
  
  .weather-container img {
    display: none;
  }

  .data-container {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 25%;
    height: auto;
  }
  
  .weather-header, .data-header {
    display: flex;
    align-items: center;
    background-color: rgb(0, 147, 83);
    position: relative;
    right:20px;    
  }

  h2 {
    color:white;
    font-size: 20px;
  }

  /* Pseudo-element for the weather icon */
  .weather-header h2::after {
    content: "⛅️"; /* Unicode character for the weather icon */
    font-size: 20px; /* Adjust size as needed */
  }

  .weather-content, .data-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    font-size: small;
  } 
}




   
   
   
   
   
   
   
   
   
   
   