:root {
  --main-bg-color: white;
  --main-text-color: black;
  --header-bg-color: rgb(0, 147, 83);
  --header-text-color: white;
  --nav-bg-color: #333;
  --nav-text-color: #fff;
  --nav-active-color: yellow;
  --footer-bg-color: rgb(0, 147, 83);
  --footer-text-color: white;
  --footer-highlight-color: rgb(253, 208, 5);
  --font-family: "Roboto", sans-serif;
  --font-size: 15px;
  --h1-font-size: 30px;
  --h2-font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: var(--header-bg-color);
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px #333; 
}

main {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

header, main, footer {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 20px;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--header-text-color);
}

h2 {
  font-size: var(--h2-font-size);
  text-align: center;
  color: var(--main-text-color);
}

nav {
  gap: 20px;
  flex-direction: column;
  display: none; /* Initially hidden on mobile */
  flex-direction: column;
  background-color: var(--nav-bg-color);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

nav a {
  display: block;
  color: var(--nav-text-color);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  font-weight: 800;
  text-decoration: underline double;
  text-decoration-color: yellowgreen;
}

.active {
  color: var(--nav-active-color);
}

nav.active {
  display: flex; /* Show when active */
}

.hamburger {
  display: block;  
  cursor: pointer;
  color: var(--header-text-color);
  font-size: 30px;
}

.hidden {
  display: none;
}

img {
  text-align: center;
  height: auto;
  width: 250px;
  margin: 1rem;
  padding: 2px;
  border: 2px solid rgb(224, 224, 224);
}

.image-container {
  display: grid; 
  grid-template-columns: 1fr;
  grid-gap: 25px;
  place-items: center;
}

.image-container img {
  max-width: 100%; 
}

figure {
  margin: 0;
  padding: 0;
  text-align: center;
}

figcaption,
p {
  text-align: center;
  font-size: smaller;
}

.hover:hover {
  box-shadow: 0 0 50px #333;
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  color: var(--footer-highlight-color);
}

footer p span {
  font-weight: lighter;
}
